.Layout {
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  background-color: transparent;
  color: white;
}

.LayoutChildren {
  min-height: 85vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
