.Navbar {
  animation-duration: 1s;
  animation-name: Render;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  min-width: 280px;
  width: 80%;
  background-color: rgba(70, 70, 70, 0.75);
  border: none;
  border-radius: 20px;
  font-size: larger;
  padding: 0 4rem;
  font-weight: bolder;
  overflow: hidden;
  color: white;
  z-index: 5;
  border: 2.5px solid black;
  .LeftSide,
  .RightSide {
    font-size: larger;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    a {
      text-decoration: none;
      color: white;
      animation-duration: 2.5s;
      animation-name: LinkRender;
    }
    a:hover,
    .SidebarButton:hover {
      cursor: pointer;
      color: cyan;
      transform: scale(1.05);
    }
  }
}

@keyframes Render {
  from {
    width: 40%;
  }

  to {
    width: 80%;
  }
}

@keyframes LinkRender {
  from {
    color: transparent;
  }

  to {
    color: white;
  }
}
