.Tile {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 15rem;
  width: auto;
  min-height: 15rem;
  height: auto;
  font-weight: bold;
  font-size: large;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 15px;
  backdrop-filter: blur(10px);
  z-index: 2;
}
.Tile:hover {
  transform: scale(1.2);
}
