.ModalTest {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    .ModalAndTileWrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}